build/
cmake-build-*/
*.dll
*.lib
*.pdb
*.ilk
*.exp

.idea/
.vs/
.vscode/
*.vcxproj*
*.sln
*.suo
*.user

idaplugin/ida-sdk/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

.DS_Store
Thumbs.db